.ansible
.env
.vscode
vault-password.txt
inventory.ini
files/*.pem
files/*.crt
files/*.pub
host_vars/plex.yaml
host_vars/proxy.yaml
host_vars/storage.yaml
roles/plex/templates/_docker-compose.prod.yaml.j2
group_vars/all.yaml

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
