# code: language=yaml
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/refs/heads/main/schema/compose-spec.json
networks:
  arr:
    external: true
  plex:
    external: true
  kometa:
    external: true
  wizarr:
    external: true
  tunarr:
    external: true
  tautulli:
    external: true

services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.16
    container_name: sonarr
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "{{ timezone }}"
    volumes:
      - /etc/plex/services/sonarr:/config
      - "{{ nfs.target }}:/data"
    restart: always
    labels:
      traefik.enable: true
      traefik.docker.network: arr
      traefik.http.routers.sonarr.rule: Host(`{{ sonarr.domain }}`)
      traefik.http.services.sonarr.loadbalancer.server.port: 8989
      traefik.http.routers.sonarr.tls: true
      traefik.http.routers.sonarr.middlewares: "authelia@docker"
    networks:
      arr:
    healthcheck:
      test: wget http://localhost:8989 -qO /dev/null || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s
  radarr:
    image: lscr.io/linuxserver/radarr:6.0.4
    container_name: radarr
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "{{ timezone }}"
    volumes:
      - /etc/plex/services/radarr:/config
      - "{{ nfs.target }}:/data"
    restart: always
    labels:
      traefik.enable: true
      traefik.docker.network: arr
      traefik.http.routers.radarr.rule: Host(`{{ radarr.domain }}`)
      traefik.http.services.radarr.loadbalancer.server.port: 7878
      traefik.http.routers.radarr.tls: true
      traefik.http.routers.radarr.middlewares: "authelia@docker"
    networks:
      arr:
    healthcheck:
      test: wget http://localhost:7878 -qO /dev/null || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.3.0
    container_name: prowlarr
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "{{ timezone }}"
    volumes:
      - /etc/plex/services/prowlarr:/config
    restart: always
    labels:
      traefik.enable: true
      traefik.docker.network: arr
      traefik.http.routers.prowlarr.rule: Host(`{{ prowlarr.domain }}`)
      traefik.http.services.prowlarr.loadbalancer.server.port: 9696
      traefik.http.routers.prowlarr.tls: true
      traefik.http.routers.prowlarr.middlewares: "authelia@docker"
    networks:
      arr:
    healthcheck:
      test: wget http://localhost:9696 -qO /dev/null || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s
  bazarr:
    image: lscr.io/linuxserver/bazarr:1.5.3
    container_name: bazarr
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "{{ timezone }}"
    volumes:
      - /etc/plex/services/bazarr:/config
      - /mnt/storage:/data
    restart: always
    labels:
      traefik.enable: true
      traefik.docker.network: arr
      traefik.http.routers.bazarr.rule: Host(`{{ bazarr.domain }}`)
      traefik.http.services.bazarr.loadbalancer.server.port: 6767
      traefik.http.routers.bazarr.middlewares: authelia@docker
      traefik.http.routers.bazarr.tls: true
    networks:
      arr:
      plex:
    healthcheck:
      test: wget http://127.0.0.1:6767 -qO /dev/null || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s
  overseerr:
    image: lscr.io/linuxserver/overseerr:develop-version-b1c6e2fdbde49859a661767e9b414555aa7abc31
    container_name: overseerr
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "{{ timezone }}"
    volumes:
      - /etc/plex/services/overseerr:/config
    restart: unless-stopped
    networks:
      plex:
      arr:
    labels:
      traefik.enable: true
      traefik.docker.network: arr
      traefik.http.routers.overseerr.rule: Host(`{{ overseerr.domain }}`)
      traefik.http.routers.overseerr.tls: true
      traefik.http.services.overseerr.loadbalancer.server.port: 5055
    healthcheck:
      test: wget http://localhost:5055/api/v1/status -qO /dev/null || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s
  seerr:
    image: ghcr.io/fallenbagel/jellyseerr:latest
    init: true
    container_name: seerr
    environment:
      TZ: "{{ timezone }}"
      LOG_LEVEL: debug
    volumes:
      - /etc/plex/services/seerr:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    networks:
      arr:
      plex:
    labels:
      traefik.enable: true
      traefik.docker.network: arr
      traefik.http.routers.seerr.rule: Host(`{{ seerr.domain }}`)
      traefik.http.services.seerr.loadbalancer.server.port: 5055
      traefik.http.routers.seerr.tls: true
    restart: unless-stopped
  tautulli:
    image: lscr.io/linuxserver/tautulli:2.16.0
    container_name: tautulli
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "{{ timezone }}"
    volumes:
      - /etc/plex/services/tautulli:/config
    restart: unless-stopped
    dns_search: []
    networks:
      tautulli:
      arr:
      plex:
    labels:
      traefik.enable: true
      traefik.docker.network: tautulli
      traefik.http.routers.tautulli.rule: Host(`{{ tautulli.domain }}`)
      traefik.http.services.tautulli.loadbalancer.server.port: 8181
      traefik.http.routers.tautulli.tls: true
      # traefik.http.routers.tautulli.middlewares: "authelia@docker"
    healthcheck:
      test: wget http://127.0.0.1:8181/api/v1/status -qO /dev/null || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s
  wizarr:
    container_name: wizarr
    image: ghcr.io/wizarrrr/wizarr:v2025.11.2
    volumes:
      - /etc/plex/services/wizarr/database:/data/database
      - /etc/plex/services/wizarr/wizard:/data/wizard_steps
    environment:
      TZ: "{{ timezone }}"
    networks:
      wizarr:
      arr:
      plex:
    labels:
      traefik.enable: true
      traefik.docker.network: wizarr
      traefik.http.routers.wizarr.rule: Host(`{{ wizarr.domain }}`)
      traefik.http.routers.wizarr.tls: true
      traefik.http.services.wizarr.loadbalancer.server.port: 5690
    restart: always
    healthcheck:
      # has to be 127.0.0.1 for whatever reason
      test: wget http://127.0.0.1:5690/health -qO /dev/null || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s
  kometa:
    image: lscr.io/linuxserver/kometa:2.2.2
    container_name: kometa
    environment:
      PUID: 1000
      PGID: 1000
      TZ: "{{ timezone }}"
      KOMETA_CONFIG: /config/config.yaml
      KOMETA_TIME: 03:00
      KOMETA_RUN: False
      KOMETA_NO_REPORT: True
      KOMETA_NO_MISSING: False
    volumes:
      - /etc/plex/services/kometa:/config
      - /mnt/storage:/media
    restart: unless-stopped
    networks:
      arr:
      kometa:
  tunarr:
    image: ghcr.io/chrisbenincasa/tunarr:0.22.15
    container_name: tunarr
    environment:
      TZ: "{{ timezone }}"
      TUNARR_SERVER_PRINT_ROUTES: "true"
    labels:
      traefik.enable: true
      traefik.docker.network: tunarr
      traefik.http.routers.tunarr.rule: Host(`{{ tunarr.domain }}`)
      traefik.http.services.tunarr.loadbalancer.server.port: 8000
      traefik.http.routers.tunarr.tls: true
      traefik.http.routers.tunarr.middlewares: authelia@docker
      traefik.udp.routers.tunarr.entrypoints: tunarr
      traefik.udp.routers.tunarr.service: tunarr
      traefik.udp.services.tunarr.loadbalancer.server.port: 1900
    volumes:
      - /etc/plex/services/tunarr/config:/config/tunarr
      - /etc/plex/services/.dizquetv:/.dizquetv
    devices:
      - /dev/dri:/dev/dri
    networks:
      tunarr:
      plex:
    restart: unless-stopped
    healthcheck:
      test: curl -L http://127.0.0.1:8000/web -o /dev/null || exit 1
