[Interface]
PrivateKey = {{ wireguard.private_key }}
Address = {{ wireguard.subnet }}, {{ wireguard.subnet_ipv6 }}
ListenPort = {{ wireguard.port }}
PostUp = iptables -t nat -A PREROUTING -p tcp --dport 443 -j DNAT --to-destination 10.8.0.3:443; iptables -t nat -A POSTROUTING -d 10.8.0.3 -p tcp --dport 443 -j MASQUERADE; iptables -t nat -A PREROUTING -p udp --dport 443 -j DNAT --to-destination 10.8.0.3:443; iptables -t nat -A POSTROUTING -d 10.8.0.3 -p udp --dport 443 -j MASQUERADE; iptables -t nat -A PREROUTING -p tcp --dport 80 -j DNAT --to-destination 10.8.0.3:80; iptables -t nat -A POSTROUTING -d 10.8.0.3 -p tcp --dport 80 -j MASQUERADE

PreDown = iptables -t nat -D PREROUTING -p tcp --dport 443 -j DNAT --to-destination 10.8.0.3:443; iptables -t nat -D POSTROUTING -d 10.8.0.3 -p tcp --dport 443 -j MASQUERADE; iptables -t nat -D PREROUTING -p udp --dport 443 -j DNAT --to-destination 10.8.0.3:443; iptables -t nat -D POSTROUTING -d 10.8.0.3 -p udp --dport 443 -j MASQUERADE; iptables -t nat -D PREROUTING -p tcp --dport 80 -j DNAT --to-destination 10.8.0.3:80; iptables -t nat -D POSTROUTING -d 10.8.0.3 -p tcp --dport 80 -j MASQUERADE

[Peer]
PublicKey = {{ wireguard.target.public_key }}
AllowedIPs = {{ wireguard.target.allowed_ips }}
Endpoint = {{ wireguard.target.endpoint }}:{{ wireguard.target.port }}
PersistentKeepalive = {{ wireguard.target.persistent_keepalive }}
