- name: Ensure /etc/storage/services directory exists
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ unprivileged_user }}"
    group: "1000"
    mode: "0755"
  loop:
    - /usenet/temp_downloads
    - /usenet/downloads
    - /etc/storage/services
    - /etc/storage/services/sabnzbd
    - /etc/storage/services/qbittorrent
    - /etc/storage/services/qui

- name: Ensure dc script exists
  ansible.builtin.copy:
    src: dc
    dest: /usr/local/bin/dc
    mode: "0755"

- name: Deploy qBittorrent.conf file
  ansible.builtin.template:
    src: qBittorrent.conf
    dest: /etc/storage/services/qbittorrent/qBittorrent.conf
    owner: "{{ unprivileged_user }}"
    mode: "0644"

- name: Deploy Docker Compose files for storage
  ansible.builtin.template:
    src: storage.docker-compose.yaml.j2
    dest: /etc/storage/docker-compose.yaml
    owner: "{{ unprivileged_user }}"
    mode: "0644"

- name: Ensure plex stack is running
  # become: true
  # become_user: "{{ unprivileged_user }}"
  community.docker.docker_compose_v2:
    project_src: /etc/storage
    remove_orphans: true
    files:
      - docker-compose.yaml
