# code: language=ansible

- name: Create docker group
  ansible.builtin.group:
    name: docker
    state: present

- name: Create unprivileged user
  ansible.builtin.user:
    name: "{{ unprivileged_user }}"
    state: present
    uid: 1000
    groups:
      - sudo
      - docker
    shell: /bin/bash
    append: true

- name: Install important tooling
  ansible.builtin.apt:
    pkg:
      - unattended-upgrades
      - vim
      - git
      - curl
      - tcpdump
      - btop
      - fail2ban
    update_cache: true

- name: Upgrade all packages
  ansible.builtin.apt:
    upgrade: true
    update_cache: true

- name: Add host mappings to /etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    line: |
      {{ all_hosts.plex.ip }} {{ all_hosts.plex.name }}
      {{ all_hosts.storage.ip }} {{ all_hosts.storage.name }}
    create: true
    state: present
    owner: root
    group: root
    mode: "0644"
  when: "ansible_host != 'proxy'"

- name: Configure DNS
  ansible.builtin.include_tasks: dot.yaml
