# code: language=yaml
# yaml-language-server: $schema=https://json.schemastore.org/traefik-v2-file-provider

tls:
  options:
    default:
      # cloudflare will always at least connect with 1.3
      minVersion: VersionTLS13
      clientAuth:
        caFiles:
          - "/etc/traefik/mtls.crt"
        clientAuthType: "RequireAndVerifyClientCert"
  certificates:
    - certFile: "/etc/traefik/origin.crt"
      keyFile: "/etc/traefik/origin.pem"
      stores:
        - default
  stores:
    default:
      defaultCertificate:
        certFile: "/etc/traefik/origin.crt"
        keyFile: "/etc/traefik/origin.pem"

http:
  services:
    tdarr:
      loadBalancer:
        servers:
          - url: "http://192.168.100.2:8265"
    sabnzbd:
      loadBalancer:
        servers:
          - url: "http://192.168.100.2:8080"
    netdata:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:19999"
  routers:
    tdarr:
      rule: Host(`{{ tdarr.domain }}`)
      service: tdarr
      middlewares:
        - authelia@docker
      tls:
        options: default
    sabnzbd:
      rule: Host(`{{ sabnzbd.domain }}`)
      service: sabnzbd
      middlewares:
        - authelia@docker
      tls:
        options: default
    netdata:
      rule: Host(`{{ netdata.domain }}`)
      service: netdata
      middlewares:
        - authelia@docker
      tls:
        options: default
