unprivileged_user: plex
ssh:
  user_name: plex
  host_name: plex-host
  public_key_to_add: "change-me"
# runs inside docker
wireguard:
  port: 51820
  subnet: "10.0.0.2/24"
  private_key: "change-me"
  # proxy
  target:
    address: "10.0.0.1"
    public_key: "change-me"
    # proxy everything
    allowed_ips: "0.0.0.0/0"
    endpoint: "proxy-ip"
    port: 51820
    persistent_keepalive: 25
tailscale_auth_key: "[optional] change-me"
storage:
  ip: "192.168.100.2"
nftables:
  whitelisted_ips:
    - "22"
    - "80"
    - "443"
    # not forwarding plex since it's coming from the proxy
    - "{{ wireguard.port }}"
sonarr:
  domain: "sonarr.example.com"
  api_key: "..."
radarr:
  domain: "radarr.example.com"
  api_key: "..."
prowlarr:
  domain: "prowlarr.example.com"
traefik:
  domain: "traefik.example.com"
tautulli:
  domain: "tautulli.example.com"
  api_key: "..."
sabnzbd:
  domain: "sabnzbd.example.com"
overseerr:
  domain: "overseerr.example.com"
seerr:
  domain: "seerr.example.com"
bazarr:
  domain: "bazarr.example.com"
wizarr:
  domain: "wizarr.example.com"
kopia:
  domain: "backup.example.com"
  repository_password: "..."
tdarr:
  domain: "tdarr.example.com"
qui:
  domain: "qbittorrent.example.com"
qbittorrent:
  domain: "qbittorrent-core.example.com"
plex:
  internal_url: "http://wireguard:32400"
  domain: "plex.example.com"
  token: "..."
netdata:
  domain: "netdata.example.com"
tunarr:
  domain: "tv.example.com"
# plex specific configuration
# optional
authelia:
  smtp:
    address: "smtp://smtp.fastmail.com:465"
    username: "username"
    password: "password"
    sender: "Sender <noreply@example.com>"
tls:
  lets_encrypt_email: "change+acme@me.com"
  # optional. Files are assumed to be discoverable by ansible (eg: no prefixing /files needed)
  certificate:
    enabled: false
    public_key_path: "origin.pub"
    private_key_path: "origin.pem"
  # optional
  mtls:
    enabled: false
    # if enabled, traefik will copy this file to the host to do mTLS checks
    client_certificate_path: "mtls.pem"
  # optional
  cloudflare:
    email: "change@me.com"
    # required to provision a certificate from letsencrypt for plex
    dns_api_token: "change-me"
